<div class="row justify-content-center algnver">
  <div class="card text-center">
    <div class="card-body">
      <div class="row justify-content-center pt-3" >
        <h4>Gowthaman</h4>
      </div>
      <div class="row justify-content-center">
        <p>Alambadi, kangeyam</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <button class="btn btn-success">Completed</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-warning">Declined</button>
        </div>
      </div>
    </div>
  </div>
</div>